.email-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-top: 20px;
}

.error-message {
  color: var(--error-color);
  font-size: 14px;

  visibility: hidden; 
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.error-message.visible {
  visibility: visible;
  opacity: 1;
}

input.email-input {
  padding: 4px 8px;
  border-radius: var(--border-radius);
}

input.email-input:-webkit-autofill,
input.email-input:-webkit-autofill:hover, 
input.email-input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset; /* Колір фону */
  transition: background-color 5000s ease-in-out 0s;
}

.email-input:not(:placeholder-shown):invalid {
  border-color: var(--error-color);
  background-color: #fff8f8;
}

/* Коли поле валідне і не порожнє */
.email-input:not(:placeholder-shown):valid {
  border-color: var(--success-color);
}

