.app-header {
  background-color: var(--white-color);
  padding: 1.6rem 2.4rem;
  border-bottom: 0.1rem solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
}

.progress-container {
  width: 100%;
  height: 0.4rem;
  background-color: var(--header-bg);
  border-radius: 0.4rem;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.progress-bar {
  height: 100%;
  background-color: var(--primary-color);
  transition: width 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  width: 0%;
}
