.question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}


.question-fieldset {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: none;
}

.question-fieldset:disabled input.question-input  {
  opacity: 0.9;
  cursor: not-allowed;
}


input.question-input {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #999999;
  transition: 0.2s all linear;
}

input.question-input:checked {
  border: 6px solid #4a4af4;
}

.question-label {
  font-size: 18px;
  color: #333333;
  cursor: pointer;
  border-radius: var(--border-radius);
  padding: 6px 12px;
  transition: 0.2s all linear;
  display: flex;
  align-items: center;
  gap: 8px;
}
.question-label.correct {
  background-color: #94ed97;
}
.question-label.incorrect {
  background-color: #f5a39d;
}