.question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.question-back-button {
  background-color: transparent;
  border: none;
  color: #4a4af4;
  font-size: 16px;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 6px;
  transition: background-color 0.2s ease-in-out;
}
.question-back-button:hover {
  background-color: #e0e0ff;
}

.question-fieldset {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: none;
}

input.question-input {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #999999;
  transition: 0.2s all linear;
  /* margin-right: 5px; */
  /* position: relative;
  top: 4px; */
}

input.question-input:checked {
  border: 6px solid #4a4af4;
}

.question-label {
  font-size: 18px;
  color: #333333;
  cursor: pointer;
  border-radius: 6px;
  padding: 6px 12px;
  transition: 0.2s all linear;
  display: flex;
  align-items: center;
  gap: 8px;
}
.question-label.correct {
  background-color: #94ed97;
}
.question-label.incorrect {
  background-color: #f5a39d;
}
