*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

input {
  display: block;
  width: 100%;
}

fieldset {
  border: none;
}

body {
  overflow-x: hidden;
}
